.git
.github
.gitignore
.env
.env.*
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
*.pyc
*.pyo
*.duckdb
*.duckdb.wal
*.egg-info
build
data
dist
mlruns
mlflow.db
models
reports
dbt/logs
dbt/target
